body {
  background-image: url("https://images.unsplash.com/photo-1682685797828-d3b2561deef4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
}
.container {
  margin-top: 100px;
}
label[for] {
  color: white;
}

@media (max-width: 768px) {
  #destination .from,
  .to,
  .guests {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

@media (min-width: 767px) {
  .container {
    display: flex;
    justify-content: start;
    flex-direction: row;
    gap: 20px;
    align-items: end;
  }
  label[for] {
    display: flex;
    flex-direction: column;
  }
  .button {
    display: flex;
    flex-direction: row;
  }
}
