/* Global styles */
body {
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

/* Container styles using CSS Grid */
.container {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

/* Header styles */
.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Typing container styles */
.typing-box {
  display: grid;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: left;
}

/* typin-text-box styles */

.typing-text-box {
  text-align: center; /* Center align the content */
  background-color: lightblue; /* Set the background color to light blue */
  border-radius: 10px; /* Apply rounded corners */
  padding: 10px; /* Add some padding for spacing */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add a slight box shadow */
}

.centered-results-box {
  text-align: center; /* Center align the content */
}

.results-box {
  padding: 10px;
  border-radius: 5px;
}

/* Button styles */
.btn {
  display: block;
  margin: 10px auto; /* Center horizontally */
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  justify-self: center;
  font-size: 18px;
}

.btn:hover {
  background-color: #0056b3;
}
.start-test-button {
  justify-self: center;
}

#fetch-text-button {
  display: block;
  margin: 10px;
  background-color: green;
  color: #fff;
}

/* Timer styles */
.timer {
  font-size: 24px;
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
  text-align: center;
  background-color: #007bff;
  color: white; /* Text color */
  padding: 5px 10px; /* Padding for spacing */
  border-radius: 10px; /* Rounded corners */
  justify-self: center;
}

/* Style for minutes and seconds */
#minutes,
#seconds {
  padding: 0 5px; /* Add spacing between minutes and seconds */
}

.correct-letter {
  text-shadow: 0 0 4px green; /* Change the color to green for correct letters */
}

.incorrect-letter {
  text-shadow: 0 0 4px red; /* Change the color to red for incorrect letters */
}
.user-input-letter {
  text-shadow: 0 0 4px blue; /* Add a blue shadow to user input letters */
}

.form-control {
  width: 100%; /* Set the width to 100% of its container */
  padding: 10px; /* Add padding to the input field */
  font-size: 16px; /* Set the font size */
  border: 1px solid #ccc; /* Add a border with a color */
  border-radius: 4px; /* Add rounded corners */
  box-sizing: border-box; /* Include padding and border in the input's total width */
}

/* Style the input field when it's focused */
.form-control:focus {
  border-color: #007bff; /* Change the border color when focused */
  outline: none; /* Remove the outline */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a shadow when focused */
}
