/* Global styles */
body {
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

/* Container styles using CSS Grid */
.container {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

/* Header styles */
.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Typing container styles */
.typing-box {
  display: grid;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: left;
}

/* Results box styles */
.results-box,
.typing-text-box {
  padding: 10px;
  border-radius: 5px;
}

/* Button styles */
.btn {
  display: block;
  margin: 10px auto; /* Center horizontally */
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  justify-self: center;
  font-size: 18px;
}

.btn:hover {
  background-color: #0056b3;
}
.start-test-button {
  justify-self: center;
}

#fetch-text-button {
  display: block;
  margin: 10px;
  background-color: green;
  color: #fff;
}

/* Timer styles */
.timer {
  font-size: 24px;
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
  text-align: center;
  background-color: #007bff;
  color: white; /* Text color */
  padding: 5px 10px; /* Padding for spacing */
  border-radius: 10px; /* Rounded corners */
  justify-self: center;
}

/* Style for minutes and seconds */
#minutes,
#seconds {
  padding: 0 5px; /* Add spacing between minutes and seconds */
}

.correct-letter {
  color: green; /* Change the color to green for correct letters */
}

.incorrect-letter {
  color: red; /* Change the color to red for incorrect letters */
}
